<hibernate-configuration>
	<session-factory>
    	<property name="hibernate.connection.url">jdbc:h2:D:\workspace\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\issuetracker_yuliya_fedartsova\WEB-INF\classes\db\test</property>
    	<property name="connection.driver_class">org.h2.Driver</property>
    	<property name="connection.username">sa</property>
    	<property name="connection.password"/>
    	<property name="connection.pool_size">1</property>
    	<property name="current_session_context_class">thread</property>
    	<property name="show_sql">true</property>
    	<property name="hbm2ddl.auto">update</property>
    	<property name="dialect">org.hibernate.dialect.H2Dialect</property>
		<mapping resource="org.training.issuetracker.model.beans.Issue"/>
    </session-factory>
</hibernate-configuration>