<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Issue Tracker</display-name>
  <description>JEE training project implementation by Yuliya Fedartsova</description>
  <welcome-file-list>
    <welcome-file> main </welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/main</url-pattern>
    <url-pattern>/pages/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueController</display-name>
    <servlet-name>IssueController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.IssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueController</servlet-name>
    <url-pattern>/issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyController</display-name>
    <servlet-name>PropertyController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.PropertyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyController</servlet-name>
    <url-pattern>/property</url-pattern>
    <url-pattern>/pages/property</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user</url-pattern>
    <url-pattern>/pages/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitIssueController</display-name>
    <servlet-name>SubmitIssueController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.SubmitIssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitIssueController</servlet-name>
    <url-pattern>/submit-issue</url-pattern>
    <url-pattern>/pages/submit-issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectsController</display-name>
    <servlet-name>ProjectsController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.ProjectsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectsController</servlet-name>
    <url-pattern>/projects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectController</display-name>
    <servlet-name>ProjectController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.ProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectController</servlet-name>
    <url-pattern>/project</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/pages/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbstractController</display-name>
    <servlet-name>AbstractController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.AbstractController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbstractController</servlet-name>
    <url-pattern>/AbstractController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProjectController</display-name>
    <servlet-name>AddProjectController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.AddProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProjectController</servlet-name>
    <url-pattern>/add-project</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProjectController</display-name>
    <servlet-name>UpdateProjectController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.UpdateProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProjectController</servlet-name>
    <url-pattern>/update-project</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIssueController</display-name>
    <servlet-name>AddIssueController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.AddIssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIssueController</servlet-name>
    <url-pattern>/add-issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateIssueController</display-name>
    <servlet-name>UpdateIssueController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.UpdateIssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIssueController</servlet-name>
    <url-pattern>/update-issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDataController</display-name>
    <servlet-name>UpdateUserDataController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.UpdateUserDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDataController</servlet-name>
    <url-pattern>/update-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserController</display-name>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/add-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddParameterController</display-name>
    <servlet-name>AddParameterController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.AddParameterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParameterController</servlet-name>
    <url-pattern>/AddParameterController</url-pattern>
  </servlet-mapping>
</web-app>