<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Issue Tracker</display-name>
  <description>JEE training project implementation by Yuliya Fedartsova</description>
  <servlet>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>org.training.issuetracker.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>MainController</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertiesView</display-name>
    <servlet-name>PropertiesView</servlet-name>
    <servlet-class>org.training.issuetracker.view.PropertiesView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertiesView</servlet-name>
    <url-pattern>/PropertiesView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyUpdateView</display-name>
    <servlet-name>PropertyUpdateView</servlet-name>
    <servlet-class>org.training.issuetracker.view.PropertyUpdateView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyUpdateView</servlet-name>
    <url-pattern>/PropertyUpdateView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbstractController</display-name>
    <servlet-name>AbstractController</servlet-name>
    <servlet-class>org.training.issuetracker.ifaces.AbstractController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbstractController</servlet-name>
    <url-pattern>/AbstractController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueUpdateView</display-name>
    <servlet-name>IssueUpdateView</servlet-name>
    <servlet-class>org.training.issuetracker.view.IssueUpdateView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueUpdateView</servlet-name>
    <url-pattern>/IssueUpdateView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDataUpdateView</display-name>
    <servlet-name>UserDataUpdateView</servlet-name>
    <servlet-class>org.training.issuetracker.view.UserDataUpdateView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDataUpdateView</servlet-name>
    <url-pattern>/UserDataUpdateView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainView</display-name>
    <servlet-name>MainView</servlet-name>
    <servlet-class>org.training.issuetracker.view.MainView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainView</servlet-name>
    <url-pattern>/MainView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainUserView</display-name>
    <servlet-name>MainUserView</servlet-name>
    <servlet-class>org.training.issuetracker.view.MainUserView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainUserView</servlet-name>
    <url-pattern>/MainUserView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestForIssueUpdateController</display-name>
    <servlet-name>RequestForIssueUpdateController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.RequestForIssueUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestForIssueUpdateController</servlet-name>
    <url-pattern>/RequestForIssueUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueReviewController</display-name>
    <servlet-name>IssueReviewController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.IssueReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueReviewController</servlet-name>
    <url-pattern>/IssueReviewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueController</display-name>
    <servlet-name>IssueController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.IssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueController</servlet-name>
    <url-pattern>/IssueController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderView</display-name>
    <servlet-name>HeaderView</servlet-name>
    <servlet-class>org.training.issuetracker.view.HeaderView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderView</servlet-name>
    <url-pattern>/HeaderView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueReviewView</display-name>
    <servlet-name>IssueReviewView</servlet-name>
    <servlet-class>org.training.issuetracker.view.IssueReviewView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueReviewView</servlet-name>
    <url-pattern>/IssueReviewView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyController</display-name>
    <servlet-name>PropertyController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.PropertyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyController</servlet-name>
    <url-pattern>/PropertyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParameterUpdateView</display-name>
    <servlet-name>ParameterUpdateView</servlet-name>
    <servlet-class>org.training.issuetracker.model.impl.ParameterUpdateView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParameterUpdateView</servlet-name>
    <url-pattern>/ParameterUpdateView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParameterUpdateController</display-name>
    <servlet-name>ParameterUpdateController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.ParameterUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParameterUpdateController</servlet-name>
    <url-pattern>/ParameterUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParametersView</display-name>
    <servlet-name>ParametersView</servlet-name>
    <servlet-class>org.training.issuetracker.view.ParametersView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParametersView</servlet-name>
    <url-pattern>/ParametersView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserController</display-name>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserView</display-name>
    <servlet-name>AddUserView</servlet-name>
    <servlet-class>org.training.issuetracker.view.AddUserView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserView</servlet-name>
    <url-pattern>/AddUserView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIssueView</display-name>
    <servlet-name>AddIssueView</servlet-name>
    <servlet-class>org.training.issuetracker.view.AddIssueView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIssueView</servlet-name>
    <url-pattern>/AddIssueView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIssueController</display-name>
    <servlet-name>AddIssueController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.AddIssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIssueController</servlet-name>
    <url-pattern>/AddIssueController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectController</display-name>
    <servlet-name>ProjectController</servlet-name>
    <servlet-class>org.training.issuetracker.controllers.ProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectController</servlet-name>
    <url-pattern>/ProjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectsView</display-name>
    <servlet-name>ProjectsView</servlet-name>
    <servlet-class>org.training.issuetracker.view.ProjectsView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectsView</servlet-name>
    <url-pattern>/ProjectsView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectUpdateView</display-name>
    <servlet-name>ProjectUpdateView</servlet-name>
    <servlet-class>org.training.issuetracker.view.ProjectUpdateView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectUpdateView</servlet-name>
    <url-pattern>/ProjectUpdateView</url-pattern>
  </servlet-mapping>
</web-app>